.blog-show
  .blog-show-list
    .blog-title
      = @blog.title
    .blog-date
      = @blog.created_at.strftime("%Y年%m月%d日 %H時%M分")
      = link_to 'back', blogs_path, class: "blog-back-btn"
      - if current_user.id == @blog.user_id  
        = link_to 'edit', edit_blog_path(@blog.id), class: "blog-edit-btn"
        = link_to 'delete', blog_path(@blog.id), method: :delete, class: "blog-delete-btn"
    .blog-author
      .blog-text
        = simple_format @blog.content
