.contents
  .left
    .left-header
      .left-username
        user name :     
        = current_user.name
      .left-edit
        = link_to "edit", edit_user_path(current_user), class: "edit-btn" 
    
    .left__list
    = form_with(model: @post, class: :form, local: true, id: :new_post) do |form|
      .left-form
        = form.text_field :text, placeholder: :text, class: :form__title
        = form.text_area :content, placeholder: :content, class: :form__text
      = form.submit 'Makeit', class: :form__btn
  .main
    .main__lists
      = render @posts
  .right
    .right__lists
      #calendar
        -# = form_with model: @event, class: :event_form, local: true, id: :new_event, url: :new_post  do |f|
        -#   -# = render "devise/shared/error_messages", resource: f.object
        -#   .form-group
        -#     = f.label :title
        -#     = f.text_field :title, class:'form-control mb-3', required: true
        -#   .form-group
        -#     = f.label :start_time
        -#     br
        -#     = f.datetime_select :start_time, {default: Date.today + 19.hours + 00.minutes, minute_step: 10}, class:'form-control bootstrap-date mb-3'
        -#   .form-group
        -#     = f.label :description
        -#     = f.text_area :text, class:'form-control mb-3'
        -#   .actions
        -#     = f.submit class: "btn btn-primary mb-3 js-event-create-btn"


